:root{
    /*Place primary, secondary and accent colors here*/
}

#nav-bar{
    display:flex;
    width:100%;
    border-bottom: 1px solid black;
}

#company-name{
margin-right:6%;
margin-left:2%;
text-decoration: none;
}

#nav-links{
    display:flex;
    border:1px solid black;
    list-style: none;
    width:70%;
    align-items: center;
    justify-content: space-around;
}
