:root{
    /*Place primary, secondary and accent colors here*/
}

#nav-bar{
    display:flex;
    width:100%;
    border-bottom: 1px solid black;
    font-family: "TASA Explorer", sans-serif;
}

#company-name{
margin-right:6%;
margin-left:2%;
text-decoration: none;
color:maroon;
}

#nav-links{
    display:flex;
    border:1px solid black;
    width:70%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

#account-btn{
    background-color:maroon;
    color:white;
    padding:1%;
    border-radius:4%;
}

.link {
    list-style: none;
    color:black;
    text-decoration: none;
}
.link:hover{
    color:crimson;
    text-decoration: underline;
}