:root {
    --primary-maroon: #8B0000;
    --primary-charcoal: #2C2C2C;
    --accent-gold: #D4AF37;
    --border-gray: #DDDDDD;
    --light-gray: #F5F5F5;
}

#article-listing{
    display:flex;
}

#featured{
    width:60%;
    border-right: 1px solid black;
    margin-right:1%;
    margin-left:1%;
}