.hero-section{
    background-color: maroon;
    color:white;
    height:30%;
    width:auto;
    margin:0;
    padding:1%;
    margin-top:1%;
    text-align:center;
    font-family: "Nanum Myeongjo", serif;
}


form > input{
    width:50%;
}

#tax-options{
    display:flex;
    border:1px solid black;
    text-align: center;
}

#sign-in, #sign-up {
    display:flex;
    margin:5% auto;
    border: 1px solid black;
    width:50%;
    flex-direction:column;
    padding:1%;
    font-family: "TASA Explorer", sans-serif;
}

#sign-in > *{
    margin:auto;
}
#sign-in > h1{
    padding-bottom:2%;
}

#sign-up > *{
    margin:auto;
}
#sign-up > h1{
    padding-bottom:1%;
}
#sign-up > label, input {
    width:50%;
}