.hero-section{
    background-color: maroon;
    color:lightgray;
    height:30%;
    width:auto;
    margin:0;
    padding:1%;
    margin-top:1%;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
}

form > input{
    width:50%;
}

#tax-options{
    display:flex;
    border:1px solid black;
    text-align: center;
}