.hero-section{
    background-color: maroon;
    color:lightgray;
    height:30%;
    width:auto;
    margin:0;
    padding:1%;
    margin-top:1%;
}

form{
    display:flex;
    flex-direction:column;
}

form > input{
    width:50%;
}